<section id="advantages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PARA QUEM É ESTE CURSO?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <p><strong>Profissionais</strong> que desejam desenvolveras habilidades, conhecer as ferramentas e adquirir os conhecimentos necessários para se tornar um growth hacker.</p>
            <p><strong>Estudantes</strong> que desejam dominar as habilidades e conhecimentos exigidos pelo crescente mercado que abraça profissionais de marketing, comunicação, tecnologias e cursos de alta exigência analítica.</p>
            <p><strong>Empreendedores</strong> que desejam alavancar seus negócios aplicando os conceitos e ferramentas ministrados nesse curso de maneira estrutura e consistente.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">BENEFÍCIOS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <p>Certificado de 08 horas, acesso a plataformas parceiras, grupos exclusivos e assistência pós aula!</p> 
            <p>Descontos para próximos cursos realizados pela WeberSchool.</p>
        </div>
    </div>
</section>
