<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">O Growth Hacking é, segundo da Endeavor, a própria expressão da transformação das empresas. Em palavras simples, um Growth Hacker procura explorar todas as possibilidades de crescimento do negócio, lançando um olhar holístico sobre toda a cadeia do produto ou serviço, e utiliza seus conhecimentos, habilidades e ferramentas para testar e implementar soluções que gerem resultados relevantes para as empresas.</p>
                <p class="text-faded">O Growth Hacker é um dos profissionais do futuro. Na verdade, hoje já representa uma peça essencial da estratégia de crescimento e marketing de pequenas, médias e grandes empresas</p>
                <p class="text-faded">Este curso foi desenhado para que você possa entender o perfil do Growth Hacker, suas habilidades, competências e desafios e para que você adquira os conhecimentos e domine as ferramentas que este profissional possui e utiliza, aplicando-as e gerando resultados imediatos.</p>
                <a href="#princing" class="btn btn-default btn-xl page-scroll">GARANTIR MINHA VAGA!</a>
            </div>
        </div>
    </div>
</section>
