<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/weberschool.png" />
                <hr class="primary">
                <h2 class="section-heading">Fale conosco!</h2>
                <hr class="primary">
                <p>Somos uma escola de Programação que forma e transforma pessoas para o mundo digital.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://facebook.com/weberschool.com.br">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@weberschool.com.br</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:contato@weberschool.com.br">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>contato@weberschool.com.br</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://instagram.com/weber.school">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@weber.school</p>
            </a>
        </div>

    </div>
</section>
