<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>TORNE-SE UM GROWTH HACKER</h1>
            <hr>
            <p>Desenvolva as habilidades, entenda as ferramentas e domine os conhecimentos necessários para alavancar negócios unindo pensamento analítico, tecnologia e marketing em um método cientíifico e bem estruturado, tornando-se um profissional desejado por todo o mercado ou para alvanque seu próprio negócio de modo exponencialmente mais rápido do que com métodos tradicionais.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Inscreva-se</a>
        </div>
    </div>
</header>
