<section id="princing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">MATRICULE-SE JÁ!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-center">INFORMAÇÕES IMPORTANTES</h3>
                <ul class="course-info-list">
                    <li><i class="fa fa-2x fa-calendar"></i>04 de Fevereiro</li>
                    <li><i class="fa fa-2x fa-clock-o"></i>09h às 19h</li>
                    <li><i class="fa fa-2x fa-location-arrow"></i>Feira de Santana - BA</li>
                    <li><i class="fa fa-2x fa-map-marker"></i>Rua Gov. Juraci Magalhães, 853 – Ponto Central</li>
                </ul>
            </div>
            <div class="col-lg-6 text-center">
               <div class="pricing-box">
                   <p class="princing-value"><span class="currency-symbol">R$&nbsp;</span>249,9</p>
                   <ul class="princing-list">
                       <li><i class="fa fa-check-circle"></i>Dividido em até 10x</li>
                       <li><i class="fa fa-check-circle"></i>10% desconto por transferência</li>
                       <li><i class="fa fa-check-circle"></i>Descontos para grupos. Consulte condições!</li>
                   </ul>
                   <a href="https://www.sympla.com.br/curso-de-growth-hacking--feira-de-santana__234178" target="_blank" class="btn btn-default btn-xl">Inscreva-se já!</a>
               </div> 
            </div>
        </div>
    </div>
</section>
