  <aside id="teacher" class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <div class="teacher-profile">
                <h2>O PROFESSOR</h2>
                <img src="img/professor/perfil.jpg" alt="Professor Raphael Lassance" />
                <p class="teacher-name">Raphael Lassance</p>
                <p><a href="https://www.linkedin.com/in/rlassance/" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a></p>
                <p class="teacher-bio">Referência no Growth Hacking nacional e empreendedor com mais de 15 anos de experiência em projetos digitais. Palestrante nos maiores eventos da América Latina, professor e mentor nos principais cursos de growth hacking, e-commerce, marketing digital do país. Co-fundador da <span class="text-highlight">Growth Team</span>, a <span class="text-highlight">primeira agência de growth hacking do Brasil</span>, participou ativamente em mais de 80 projetos nos últimos anos, criador do E-commerce Hacks, primeiro curso de growth hacking para e-commerce do Brasil, além de ser colunista nos maiores portais nacionais do segmento.</p>
              </div>
          </div>
      </div>
  </aside>
